/* Setup */
:root {
  --primary: hsl(0, 0%, 25%);
  --secondary: #cc0000;
  --tertiary: #f1ecec;
  --f6: 2rem;
  --f5: 1.5rem;
  --f4: 1.25rem;
  --f3: 1rem;
  --f2: 0.875rem;
  --f1: 0.75rem;

  --m1: 0.25rem;
}

* {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 200;
  color: var(--primary);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.primary-color {
  color: var(--primary);
}
.secondary-color {
  color: var(--secondary);
}

/* .main-container {
} */

.product__title {
  text-align: center;
  font-size: var(--f5);
}

.product__image {
  display: block;
  margin: auto;
  width: 80%;
  margin-top: 2rem;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.carousel__button {
  background: none;
  border: none;
}

.carousel__images {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.carousel__image {
  height: 75px;
  width: 75px;
}

.price {
  font-size: var(--f6);
  font-weight: bold;
}

.price__description {
  font-size: 12px;
  margin-left: var(--m1);
}

.extras {
  border-top: solid 1px lightgray;
  border-bottom: solid 1px lightgray;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-top: 2rem;
}

.extras__item {
  color: var(--secondary);
  font-weight: 400;
}

.extras__item:before {
  font-family: 'FontAwesome';
  content: '\f02b';
  margin: 0 5px 0 -15px;
  color: #f00;
}

.quantity__area {
  border: solid 1px lightgray;
  padding: 3px;
}

.quantity__button {
  border: none;
  background: lightgray;
  border-radius: 50%;
  padding: 5px;
}

.quantity__icon {
  color: white;
}
.fulfillment {
}

.button__set {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.returns {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}

.returns__title {
  font-size: 18px;
  font-weight: 400;
}

.returns__text {
  font-size: 12px;
  border-left: solid 1px gray;
  padding-left: 8px;
  margin-left: 8px;
}

/* convert */

.btn {
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 10px 43px;
}

.btn__primary {
  background: linear-gradient(0deg, black 85%, white);
}

.btn__secondary {
  background: linear-gradient(0deg, red 85%, white);
}

.btn__tertiary {
  background: var(--tertiary);
  color: black;
  padding: 5px 35px;
  font-size: var(--f1);
}

.product-highlights > ul {
  padding-left: 19px;
}

.product-highlights > h2 {
  font-size: 2rem;
}

.rating {
  background-color: lightgray;
}

.rating-header {
}
.rating-header a {
}

.reviews-overall {
  display: flex;
  justify-content: space-between;
}

table {
  background: lightgray;
  border-radius: 3px;
  border: 0;
  border-collapse: separate;
  border-spacing: 0 5px;
  text-align: left;
  padding: 15px;
}

thead tr th {
  border-bottom: 1px solid var(--primary);
  border-collapse: separate;
  border-spacing: 5px 5px;
  padding-bottom: 15px;
}
