/* Setup */
:root {
  --primary: hsl(0, 0%, 25%);
  --secondary: #ac0000;
  --tertiary: rgb(241, 236, 236);
  --link: #c00;
  --f6: 2rem;
  --f5: 1.5rem;
  --f4: 1.25rem;
  --f3: 1rem;
  --f2: 0.875rem;
  --f1: 0.75rem;

  --m1: 0.25rem;
}

* {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 200;
  color: var(--primary);
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.primary-color {
  color: var(--primary);
}
.secondary-color {
  color: var(--secondary);
}

.pl1 {
  padding-left: 2rem;
}

.product__title {
  text-align: center;
  font-size: var(--f5);
}

.product__image {
  display: block;
  margin: auto;
  width: 80%;
  margin-top: 2rem;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

.carousel__button {
  background: none;
  border: none;
}

.carousel__images {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.carousel__image {
  height: 75px;
  width: 75px;
}

.price {
  font-size: var(--f6);
  font-weight: bold;
}

.price__description {
  font-size: 12px;
  margin-left: var(--m1);
}

.extras {
  border-top: solid 1px lightgray;
  border-bottom: solid 1px lightgray;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-top: 2rem;
}

.extras__item {
  color: var(--link);
  font-weight: 400;
}

.extras__item:before {
  font-family: 'FontAwesome';
  content: '\f02b';
  margin: 0 5px 0 -15px;
  color: var(--link);
}

.quantity__area {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 200px;
  border: solid 1px lightgray;
  border-radius: 3px;
  padding: 5px 10px;
}

.quantity__display {
  font-weight: bold;
}

.quantity__selection {
  display: flex;
  justify-content: space-between;
  width: 35%;
}
.quantity__title {
  font-size: var(--f2);
  font-weight: 400;
}

.quantity__button {
  border: none;
  background: lightgray;
  border-radius: 50%;
  padding: 5px;
}

.quantity__icon {
  color: white;
}

.button__set {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.button__set > button {
  margin-right: 10px;
}

.button__set > button:last-child {
  margin-right: 0;
}

.returns {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}

.returns__title {
  font-size: 18px;
  font-weight: 400;
}

.returns__text {
  font-size: 12px;
  border-left: solid 1px gray;
  padding-left: 8px;
  margin-left: 8px;
}

.btn {
  flex: 1 1 50%;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  color: white;
  font-size: var(--f2);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn__primary {
  background: linear-gradient(0deg, black 85%, white);
}

.btn__secondary {
  background: linear-gradient(0deg, var(--secondary) 85%, white);
}

.btn__tertiary {
  background: var(--tertiary);
  color: black;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: var(--f1);
}

.highlights__list {
  padding-left: 19px;
}

.highlights__title {
  font-size: var(--f6);
  font-weight: 400;
}

.reviews {
  margin-top: 3rem;
}

.reviews__overall {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.reviews__stars {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.reviews__stars p {
  padding-left: 10px;
  font-weight: bold;
}

.reviews__overall a {
  font-weight: bold;
  text-decoration: none;
}

.reviews__overall a:hover {
  text-decoration: underline;
}

.rating {
  background-color: var(--tertiary);
}

.rating__header {
  font-weight: 400;
}

.rating__sub {
  font-size: var(--f1);
  font-weight: 200;
}

.rating__review {
  padding-top: 1rem;
}

.rating__title {
  font-weight: bold;
  margin: 0;
}

.rating__text {
  font-size: var(--f2);
  margin-top: 0;
}

.rating__user {
  font-size: var(--f2);
}

.rating__username {
  color: blue;
  padding-right: 5px;
}

table {
  background: var(--tertiary);
  border-radius: 3px;
  border: 0;
  border-collapse: separate;
  border-spacing: 0 5px;
  text-align: left;
  padding: 15px;
  margin-top: 0.5rem;
}

th {
  border-bottom: 1px solid var(--primary);
  border-collapse: separate;
  border-spacing: 5px 5px;
  padding-bottom: 15px;
  vertical-align: top;
}

td {
  vertical-align: top;
}

@media (min-width: 1024px) {
  body {
    margin: auto;
    padding: 0 100px;
  }

  .product__image {
    width: 50%;
  }

  .container {
    margin-top: 4rem;
  }

  .product__panel--view {
    float: left;
    width: 49%;
  }

  .product__panel--details {
    float: right;
    width: 49%;
  }

  .reviews {
    float: left;
    width: 49%;
  }

  .product__title {
    margin-top: 0;
  }
}
